:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color-black-4: #2e3440;
  --color-black-3: #3b4252;
  --color-black-2: #434c5e;
  --color-black-1: #4c566a;
  --color-white-3: #D8DEE9;
  --color-white-2: #E5E9F0;
  --color-white-1: #ECEFF4;
  --color-frost-4: #8FBCBB;
  --color-frost-3: #88C0D0;
  --color-frost-2: #81A1C1;
  --color-frost-1: #5E81AC;
  --color-aurora-red: #BF616A;
  --color-aurora-orange: #D08770;
  --color-aurora-yellow: #EBCB8B;
  --color-aurora-green: #A3BE8C;
  --color-aurora-purple: #B48EAD;

  color: var(--color-white-1);
  background-color: var(--color-black-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  padding: 0;
  margin: 0;
}
